# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
.env/

# IDE/Editor configuration
.vscode/
.idea/
.DS_Store

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/
